@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #3A4663;
    font-family: 'League Spartan', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #3A4663;
    color: #fff;
}
.header-left{
    justify-content: center;
    align-items: center;
    padding-top: 0.8rem;
    font-size: 32px;
    font-weight: bold;
}

.header-right{
    display: flex;
    padding-bottom: 40px;
}

.header-right-text{
    margin-right: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 1.6rem;
    font-weight: 700;

}

#two{
  background-color: transparent;
}
#three{
  background-color: transparent;
}

.toggle{
    display: flex;
    justify-content: space-evenly;
  }
  
  .toggle-btn{
  width: 70px;
    background-color: #242D44;
    padding: 0.1em 0.5em;
    border-radius: 13px;
}

.btn-theme{
    background-color: #D03F2F;
    height: 15px;
    width: 15px;
    margin: 0.2em;
    border-radius: 100%;
    cursor: pointer;
}

.calculator {
    width: 400px;
    height: 500px;
    margin: 50px auto;
    background-color: #3A4663;
    border-radius: 10px;
  }
  
  .display {
    width: 100%;
    height: 100px;
    background-color: #181F33;
    color: #fff;
    font-size: 36px;
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .keypad {
    display: flex;
    flex-wrap: wrap;
    background-color: #242D44;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px;
  }
  
  .keypad button {
    cursor: pointer;
    width: 20%;
    height: 50px;
    font-size: 24px;
    background-color: #ddd;
    border: 1px solid #333;
    float: left;
    box-sizing: border-box;
    margin: 0.5rem 0.5rem;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    /* border-bottom: 5px solid inherit; */
  }
  
 .btn-Num{
   box-shadow: 0 4px #999;
   
  }

 .btn-Num:hover{
  background-color: #FFFFFE;
  
}

.btn-dark{
  box-shadow: 0 4px #3e4764;
  
}

  #del:hover{
    background-color: #A2B2E1;

  }
  #reset:hover{
    background-color: #A2B2E1;
  }

  .btn-red{
    box-shadow: 0 4px #C85402;
    /* box-shadow: 0 4px #8e1ec2; */
 
  }
  #equals:hover{
    background-color: #F96B5B;
    /* box-shadow: 0 4px #8e1ec2; */
 
  }

  .keypad button.reset{
    width: 45%;
    background-color: #647198;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  .keypad button.delete{
    background-color: #647198;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  .keypad button.equals{
    width: 45%;
    background-color: #D03F2F;
    color: #fff;
  }
  
  .operator {
    background-color: #f44336;
    color: #000;
  }

  .is-pressed{
    background-color: #fff;
  }
  
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  /* Second Toggle Button */


  .body-two{
    background-color: #E6E6E6;
  }

  .header-two{
    background-color: #E6E6E6;
    color: #000;
}

.keypad-two{
  background-color: #D2CDCD;
  
}
.calculator-two{
  background-color: #E6E6E6;
  
}

.display-two{
  background-color: #FFFFFF;
  color: #000;
  width: 100%;
  height: 100px;
  /* background-color: #181F33;
  color: #fff; */
  font-size: 36px;
  text-align: right;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  
}

.reset-two{
  /* background-color: #378187; */
  /* box-shadow : 0 4px #02626b; */
  width: 45%;
  /* background-color: #647198; */
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* Third Toggle Button */


  .body-three{
    background-color: #17062A;
  }

  .header-three{
    background-color: #17062A;
    color: #FFE53D;
}

.keypad-three{
  background-color: #331C4D;
  
}

.btnNum-three{
  color: #FFE53D;

}
.calculator-three{
  background-color: #17062A;
  
}

.display-three{
  background-color: #1E0936;
  color: #FFE53D;
  width: 100%;
  height: 100px;
  /* background-color: #181F33;
  color: #fff; */
  font-size: 36px;
  text-align: right;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  
}

.reset-three{
  /* background-color: #378187; */
  /* box-shadow : 0 4px #02626b; */
  width: 45%;
  /* background-color: #647198; */
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}



  .btn-Num-three{
    color: #FFE53D;
    background-color: #f18973;
  }
  
  
  /* .keypad button {

  } */